@keyframes glow {
  from {
    box-shadow: 0 0 0px #fff;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 50px #2564b0, 0 0 30px var(--white);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 var(--primary);
    opacity: 0.7;
  }

  70% {
    transform: scale(1.15);
    box-shadow: 0 0 0 10px var(--primary);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 var(--primary);
    opacity: 0;
  }
}

.revealContainer {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  background-color: #d7e9ff;
  padding: 3rem 0;
  width: 50%;
  border-radius: 35px;
  position: relative;
}

.active.revealContainer::before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  animation: pulse 0.8s infinite;
  background-color: var(--primary);
  border-radius: 35px;
}

.revealContainer h3 {
  font-weight: normal;
}

.revealBtn {
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  font-size: 24px;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
}

.resetContainer {
  display: flex;
  justify-content: center;
}

.resetBtn {
  border: none;
  border-radius: 5px;
  background-color: #48545d;
  padding: 1rem 2rem;
  font-size: 18px;
  cursor: pointer;
  color: var(--white);
  font-weight: bold;
}

.optionsContainer,
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.optionsContainer > * {
  margin: 1rem;
}

.optionsSelectorContainer select {
  background-color: var(--primary);
  border: none;
  color: var(--white);
  padding: 0.7rem 2rem;
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  .optionsSelectorContainer {
    display: flex;
    justify-content: center;
  }
}

.sameAnswer,
.avg {
  color: var(--text-dark);
}
