@keyframes glow {
  from {
    box-shadow: 0 0 0px #fff;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 50px #2564b0, 0 0 30px var(--white);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 var(--primary);
    opacity: 0.7;
  }

  70% {
    transform: scale(1.15);
    box-shadow: 0 0 0 10px var(--primary);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 var(--primary);
    opacity: 0;
  }
}

.revealContainer {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  margin-bottom: 0;
  background-color: #d7e9ff;
  padding: 3rem 0;
  width: 50%;
  border-radius: 35px;
  position: relative;
}

.active.revealContainer::before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  animation: pulse 0.8s infinite;
  background-color: var(--primary);
  border-radius: 35px;
}

.revealContainer h3 {
  font-weight: normal;
}

.revealBtn {
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  font-size: 24px;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
}

.resetContainer {
  display: flex;
  justify-content: center;
}

.resetBtn {
  border: none;
  border-radius: 5px;
  background-color: #48545d;
  padding: 1rem 2rem;
  font-size: 18px;
  cursor: pointer;
  color: var(--white);
  font-weight: bold;
}

.resetSecondBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.resetSecondBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-dark);
}

.optionsContainer,
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.cardsContainer > * {
  flex-basis: 20%;
}

.optionsContainer {
  min-width: 900px;
  position: relative;
  width: min-content;
  margin: auto;
  margin-top: 3rem;
}

.optionsContainer > * {
  margin: 1rem;
}

.optionsContainer .custom {
  min-width: 900px;
  max-width: 400px;
}

.optionsSelectorContainer {
  width: min-content;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: -65px;
  left: 0;
}

.optionsSelectorContainer select {
  background-color: var(--primary);
  border: none;
  color: var(--white);
  padding: 0.7rem 2rem;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .optionsContainer,
  .optionsContainer .custom {
    min-width: 600px;
  }
}
@media screen and (max-width: 600px) {
  .optionsContainer,
  .optionsContainer .custom {
    min-width: 400px;
  }
}

.sameAnswer,
.avg {
  color: var(--text-dark);
}

.customValueBtn {
  font-size: 16px;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.banners {
  text-align: center;
  color: var(--text-dark);
}

.votingIssue {
  text-align: center;
  color: var(--text-dark);
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
