.container {
  margin: 3rem;
}

.card {
  height: 100px;
  width: 60px;
  border-radius: 5px;
  border: 1px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 25px;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 15px;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card.selected {
  border: none;
}
