.container {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min-content;
}

.card {
  position: relative;
  height: 80px;
  width: 50px;
  border-radius: 5px;
  border: 1px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-dark);
  transition: all 0.2s ease;
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 15px #fff, 0px 0px 15px var(--primary);
  }
  to {
    box-shadow: 0px 0px 30px #fff, 0px 0px 30px var(--primary);
  }
}

.card.selected {
  animation-name: glow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: var(--primary);
}

.card.shirt {
  border: none !important;
  background: none;
  box-shadow: none !important;
  position: relative;
}

.card.shirt svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  fill: var(--text-dark);
}

.card.shirt span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0);
  z-index: 10;
  color: var(--text-dark);
}

.card.shirt.selected svg {
  fill: var(--primary);
}

.card.shirt.selected span {
  color: var(--primary) !important;
  transform: translate(-50%, -50%) rotateY(180deg);
}

.card.shirt.selected {
  fill: var(--primary);
  border: none !important;
  background: none;
  box-shadow: none !important;
}

.card.selectedOver {
  animation: none;
  background-color: var(--primary);
}

.title {
  font-size: 24px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-dark);
}

.title.active {
  color: var(--primary);
}

.you {
  display: block;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 15px;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.cardEmoji {
  transition-delay: 0.5s;
  transition: all 1.2;
  color: white;
}

.cardEmoji:first-of-type {
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0;
}

.cardEmoji:last-of-type {
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0;
}

.cardEmoji.active {
  opacity: 1;
}

.offline {
  color: gray;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

@media screen and (max-width: 600px) {
  .user {
    min-width: unset;
  }
}
