.container {
  height: 50px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container input {
  border: 2px solid var(--primary);
  padding: 5px;
  border-radius: 5px;
}

.container button {
  padding: 5px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 1rem;
  opacity: 0.8;
  transition: all 0.3s;
}

.container button:hover {
  opacity: 1;
  transform: scale(1.05);
}

.container button.valid {
  box-shadow: 0 0 10px 0 var(--primary);
}

.container button.disabled {
  background-color: gray;
}

.inputContainer {
  position: relative;
  display: inline-block;
}

.emoji {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
