.formContainer {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input input {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.go {
  background-color: var(--primary);
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  width: 50%;
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 2rem;
}

.go:disabled {
  background-color: gray;
}
