.container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid var(--secondary);
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons .vote {
  flex: 1;
}

.buttons .trash {
  flex-basis: 20%;
  background: var(--secondary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 0 5px;
  background: var(--primary);
  align-self: stretch;
  border-radius: 5px;
  border: none;
  color: var(--text-light);
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.button:hover {
  opacity: 0.8;
}

.button.voting {
  background: var(--secondary-dark);
}

.title {
  margin: 9px 0;
}

.description {
  margin: 0;
  margin-bottom: 9px;
  opacity: 0.6;
}

.result {
  margin-bottom: 10px;
  opacity: 0.6;
}
