.container {
  padding: 4px;
  padding-bottom: 8px;
  border-radius: 5px;
  border-color: transparent;
  transition: all 0.3s ease-in-out;
}

.form {
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 0 4px;
  transform: scaleY(0);
  display: none;
}

.form.open {
  display: inline-block;
  transform: scaleY(1);
}

.form input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border: none;
  margin: 4px 0;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 0 0.5rem;
  border: none;
  background: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--text-light);
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.buttons button:hover {
  opacity: 1;
}

.buttons .cancel {
  background: var(--secondary-dark);
}
