.container {
  border: 2px solid var(--primary);
  border-radius: 5px;
  height: 100px;
  width: 60px;
  background-color: white;
	color: var(--primary);
	font-size: 20px;
	margin: 0 1rem;
	cursor: pointer;
}

.container.selected {
	background-color: var(--primary);
	color: white;
}
