.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inviteContainer {
  background-color: transparent;
  color: var(--text-dark);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.inviteLink {
  color: var(--primary);
  cursor: pointer;
}

.inviteContainer span {
  text-decoration: underline;
}

.invalidLink {
	text-align: center;
	margin-top: 8rem;
}
