.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inviteContainer {
  background-color: transparent;
  color: var(--text-dark);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .inviteContainer {
    padding: 3rem 2rem;
  }
}

.inviteLink {
  color: var(--primary);
  cursor: pointer;
}

.inviteContainer span {
  text-decoration: underline;
}

.invalidLink {
  text-align: center;
  margin-top: 8rem;
}

.issuesTab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  margin: 1rem;
  padding: 10px;
  border: 2px solid var(--text-dark);
  color: var(--text-dark);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  transition: all 0.2s ease-in-out;
}

.issuesTab:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--text-light);
}

.issuesTab span {
  margin-left: 0.5rem;
}
