.container {
	position: fixed;
	top: 10%;
	left: 2%;
	z-index: 999999;
}

.container h1 {
	cursor: pointer;
}

.container.active {
	padding: 6px 9px;
}

.showBtn {
	font-size: 30px;
	border: none;
	background-color: transparent;
	height: 100%;
	width: 100%;
	border-radius: 100%;
	color: white;
}
