.container {
  position: fixed;
  top: 15%;
  left: 2%;
  z-index: 999;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  background-color: var(--primary);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.container:hover {
  transform: translate(5px, -5px);
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px) {
  .container {
    top: unset;
    left: unset;
    bottom: 5%;
    right: 2%;
  }
}

.container h1 {
  cursor: pointer;
}

.container.active {
  padding: 6px 9px;
  background-color: var(--white);
}

.showBtn {
  font-size: 30px;
  border: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  color: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emojisContainer {
  display: flex;
  flex-direction: column;
}

.emojisContainer input {
  margin-top: 10px;
  padding: 5px;
  border: none;
  background-color: var(--white);
  filter: brightness(0.9);
  border-radius: 5px;
  color: var(--primary);
  transition: all 0.2s;
  font-size: 20px;
  transform: translateY(-10px);
  opacity: 0;
}

.emojisContainer input:focus {
  outline: 2px solid var(--primary);
}

.emojisContainer input:disabled {
  background-color: gray;
  color: var(--white);
}

.emojisContainer input.active {
  transform: translateY(0);
  opacity: 1;
}
