.container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container span {
  font-size: 18px;
  display: block;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
