.nav {
  background-color: transparent;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
}

.homeLink {
  font-size: 25px;
  color: var(--text-dark);
  text-decoration: none;
}

.homeLink span {
  color: var(--text-dark);
}

.darkMode {
  font-size: 35px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
}
