.nav {
  background-color: transparent;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
}

.homeLink {
  font-size: 25px;
  color: var(--text-dark);
  text-decoration: none;
}

.homeLink span {
  color: var(--text-dark);
}

.darkMode {
  font-size: 35px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.nav .logo {
  transition: all 0.2s ease;
}

.nav:hover span {
  color: var(--primary);
}

.nav:hover .logo {
  transform: rotate(-45deg);
}

input {
  outline: 3px solid transparent;
  border: none !important;
  background: var(--primary) !important;
  color: var(--text-dark) !important;
  filter: brightness(0.9);
}

input:focus {
  outline: 3px solid var(--white) !important;
}
