:root {
  --primary: #3993ff;
  --primary-light: #2d4f67;
  --primary-dark: #363646;
  --secondary: #e8e9ea;
  --secondary-light: #d27e99;
  --secondary-dark: #e46876;
  --white: #ffffff;
  --toastify-color-success: var(--primary) !important;
}

body {
  background-color: var(--background);
  transition: background-color 0.2s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --toastify-toast-width: 100vw;
}

body.light {
  --background: var(--white);
  --primary: #3993ff;
  --primary-light: #2d4f67;
  --primary-dark: #363646;
  --secondary: #e8e9ea;
  --secondary-light: #d27e99;
  --secondary-dark: #e46876;
  --white: #ffffff;
  --text-light: #ffffff;
  --text-dark: #000000;
  --toastify-color-success: var(--primary) !important;
}

body.dark {
  --background: #383837;
  --primary: #3993ff;
  --primary-light: #2d4f67;
  --primary-dark: #363646;
  --secondary: #e8e9ea;
  --secondary-light: #d27e99;
  --secondary-dark: #e46876;
  --white: #ffffff;
  --text-light: #ffffff;
  --text-dark: #ffffff;
  --toastify-color-success: var(--primary) !important;
}

body.kanagawa {
  --background: #1f1f28;
  --primary: #7e9cd8;
  --primary-light: #7fb4ca;
  --primary-dark: #938aa9;
  --secondary: #ff9e3b;
  --secondary-light: ##dca561;
  --secondary-dark: #c34043;
  --white: #dcd7ba;
  --text-light: #dcd7ba;
  --text-dark: #dcd7ba;
  --toastify-color-success: var(--primary) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Toastify__toast-container--top-center {
  margin: 0 !important;
  top: 0 !important;
}

.Toastify__toast-container {
  padding: 0 !important;
  margin: 0 !important;
  top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.Toastify__toast {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  z-index: 1000 !important;
}

.Toastify__toast--success.back-online {
  display: flex !important;
  justify-content: center !important;
  background: linear-gradient(270deg, #246655, #2fd4aa) !important;
  background-size: 400% 400% !important;

  position: relative !important;
  text-align: center !important;
}

.Toastify__toast--success.back-online::before {
  content: "✨";
  font-size: 1.2rem !important;
  position: absolute !important;
  right: 60% !important;
  bottom: 5px !important;
  animation: sparkle-up 3s ease-in-out infinite !important;
}

.Toastify__toast--success.back-online::after {
  content: "✨";
  font-size: 1.2rem !important;
  position: absolute !important;
  left: 60% !important;
  top: 5px !important;
  animation: sparkle-down 3s ease-in-out infinite !important;
}

@keyframes sparkle-down {
  0% {
    transform: scale(1) translateY(0) translateX(50%);
  }
  50% {
    transform: scale(1.4) translateY(3px) translateX(50%);
  }
  100% {
    transform: scale(1) translateY(0) translateX(50%);
  }
}

@keyframes sparkle-up {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.1) translateY(-3px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.slideIn {
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideOut {
  animation: slideOut 0.3s ease-in-out;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50%);
    opacity: 0;
  }
}
