body {
  background-color: var(--background);
	transition: background-color 0.2s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: var(--white);
  --primary: #3993ff;
  --primary-light: #2d4f67;
  --primary-dark: #363646;
  --secondary: #e8e9ea;
  --secondary-light: #d27e99;
  --secondary-dark: #e46876;
  --white: #ffffff;
	--text-light: #ffffff;
	--text-dark: #000000;
  --toastify-color-success: var(--primary) !important;
}

body.dark {
  --background: #383837;
  --primary: #3993ff;
  --primary-light: #2d4f67;
  --primary-dark: #363646;
  --secondary: #e8e9ea;
  --secondary-light: #d27e99;
  --secondary-dark: #e46876;
  --white: #ffffff;
	--text-light: #ffffff;
	--text-dark: #ffffff;
  --toastify-color-success: var(--primary) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
